h2{
    color:orange;
}   

body{
    background-color: #305050;
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 18.75px;
        text-align: center;
}

header{border-bottom: 1px solid gray;
}

footer{border-top: 1px solid gray;
}
